.imageContainer {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 31vw;
  height: 31vw;
}

.imageContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.3)
  ); /* Điều chỉnh độ mờ bằng cách thay đổi giá trị rgba */
  z-index: 1;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 1024px) {
  .imageContainer {
    width: 45vw;
    height: 45vw;
  }
}

@media only screen and (max-width: 600px) {
  .imageContainer {
    width: 90vw;
    height: 90vw;
  }
}
